.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh; /* amend this if you have no header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  width: 100%;
  height: 100%;
}
.column { 
  flex: 1; /* same as flex: 1 1 0; */
  margin: 5px;
  position: relative;
  overflow: hidden;
}
.column > h2 {
  color: white;
  font-size: calc(10px + 5vmin);
  position: absolute;
  bottom: -100px;
  width: 100%;
  visibility: hidden;
}
.column:hover > h2 {
  background-color: black;
  visibility: visible;
  bottom: 0;
  opacity: 0.65;
  transition: bottom 0.5s linear 0.2s;
}
.row {
  display: flex;
  margin: 5px;
}

@media screen and (max-width: 640px){
  .row { 
    display: block;
  }
}  /* Displays only one movie cover per mobile page; */