* {
  margin: 0;
  padding: 0;
}

button {
  display: block;
  padding: 5px;
  font-size: 5rem;
}

.count {
  text-align: center;
  font-size: 5rem;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

